---
- name: Check whether you are using a supported NGINX distribution
  ansible.builtin.assert:
    that:
      - "{{ ansible_facts['distribution'] | lower in nms_supported_distributions.keys() | list }}"
      - "{{ (ansible_facts['distribution_version'] | regex_search('\\d+\\.?\\d*') in nms_supported_distributions[ansible_facts['distribution'] | lower]['versions'] | string)
        if ansible_facts['distribution'] | lower in ['ubuntu'] else ansible_facts['distribution_major_version'] in nms_supported_distributions[ansible_facts['distribution'] | lower]['versions'] | string }}"
      - "{{ ansible_facts['architecture'] in nms_supported_distributions[ansible_facts['distribution'] | lower]['architectures'] }}"
    success_msg: Your distribution, {{ nms_supported_distributions[ansible_facts['distribution'] | lower]['name'] }} {{ ansible_facts['distribution_version'] }} ({{ ansible_facts['architecture'] }}), is supported by NMS.
    fail_msg: Your distribution, {{ nms_supported_distributions[ansible_facts['distribution'] | lower]['name'] }} {{ ansible_facts['distribution_version'] }} ({{ ansible_facts['architecture'] }}), is not supported by NMS.
  ignore_errors: true # noqa ignore-errors

- name: Check if 'nms_setup' is an allowed value
  ansible.builtin.assert:
    that: nms_setup in nms_setup_vars
    fail_msg: The value {{ nms_setup }} you used for `nms_setup` is not allowed. Try one of {{ nms_setup_vars | join(', ') }}.
  tags: nms_check_support

- name: Check if 'nms_service_state' is an allowed value
  ansible.builtin.assert:
    that: nms_service_state in nms_service_state_vals
    fail_msg: The value {{ nms_service_state }} you used for `nms_service_state` is not allowed. Try one of {{ nms_service_state_vals | join(', ') }}.
  tags: nms_check_support

- name: Check if 'nms_modules' is an allowed value
  ansible.builtin.assert:
    that: item.name in nms_module_vars
    fail_msg: The value {{ item.name }} you used for `nms_modules` is not allowed. Try one of {{ nms_module_vars | join(', ') }}.
  loop: "{{ nms_modules }}"
  tags: nms_check_support
